<% provide(:title, "About") %>
<h1>About</h1>
<p>The <a href="https://www.railstutorial.org/" target="blank"><em>Ruby on Rails Turotial</em></a>, part of the 
   <a href="https://www.learnenough.com/" target="blank">Learn Enough</a> family of tutorials, is a book and screencast
   series to teach web development with Ruby on Rails</p>
<p>This is the sample app from that book.</p>