<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Get on the Ruby on Rails Tutorial at
    the <a href="https://www.railstutorial.org/help" target="blank">Rails Tutorial Help Page</a>.
    To  get help on this sample app, see the
    <a href="https://www.railstutorial.org/book" target="blank">Ruby on Rails Turotial<//a></p>
